<% include ./partials/header.ejs %>
  <div class="w-full h-screen bg-zinc-300 bg-center flex items-center justify-center">
    <div class="w-85 h-[66vh] bg-zinc-100 px-4 py-10 rounded-[10px]">
      <div class="flex justify-center">
        <h1 class="text-5xl mb-5 font-bold leading-none tracking-tighter capitalize text-brown-700">Create New Account
        </h1>
      </div>

      <div class="flex justify-center">
        <h1 class="mt-3 text-3xl leading-none tracking-tighter capitalize"><span class="text-orange-500">भारत</span>
          <span class="text-white">इतिहासिक</span> <span class="text-green-500">गैलरी</span>
        </h1>
      </div>

      <!-- we are creating a login form here
           just username and password
           forgot password action
           and finally a sign up button if the user is not registered yet-->
      <form action="/register" method="post" class="max-w-md mx-auto">
        <div class="mt-5">
          <input class="border-6 rounded-md w-full px-3 py-2" type="text" name="username" placeholder="username">
        </div>
        <div class="mt-2">
          <input class="border-6 rounded-md w-full px-3 py-2" type="text" name="fullname" placeholder="full name">
        </div>
        <div class="mt-2">
          <input class="border-6 rounded-md w-full px-3 py-2" type="email" name="email" placeholder="email">
        </div>
        <div class="mt-2">
          <input class="border-6 rounded-md w-full px-3 py-2" type="number" name="contact" placeholder="contact">
        </div>
        <div class="mt-2">
          <input class="border-6 rounded-md w-full px-3 py-2" type="password" name="password" placeholder="password">
        </div>

        <div class="flex justify-center mt-6">
          <input class="border-6 rounded-md w-full px-3 py-2 bg-blue-700 text-white" type="submit" style="width: 50%"
            value="Create new account">
        </div>

      </form>

      <!--now here we providing a sign up button alright
          this button will take us to the register form-->
      <a class="mt-5 flex justify-center inline-block font-bold underline text-zinc-900" href="/">Login existing account</a>

    </div>
  </div>
  <% include ./partials/footer.ejs %>
